<form (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-header">
        <button class="close-button" (click)="onClose()">X</button>
    <h2>{{isEditMode ? 'Edit Accunt' : 'Create a new Account'}}</h2>    
    </div>

  <div class="form-group">
    <label>Account Number</label>
    <input [(ngModel)]="account.accountNumber" name="accountNumber" required>
  </div>

  <div class="form-group">
    <label>Account type</label>
    <input [(ngModel)]="account.accountType" name="accountType" required>
  </div>

  <div class="form-group">
    <label>Balance</label>
    <input [(ngModel)]="account.balance" name="balance" required>
  </div>

  <h3>User Details</h3>
  <div class="form-group">
    <label>Name</label>
    <input [(ngModel)]="account.user.name" name="userName" required>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input [(ngModel)]="account.user.email" name="userEmail" required>
  </div>

  <div class="form-group">
    <label>Username</label>
    <input [(ngModel)]="account.user.username" name="userUsername" required>
  </div>
  <button type="submit" class="submit-button">{{isEditMode ? 'Edit Accunt' : 'Add Account'}}</button>
</form>

